.card {
    min-width: 250px;
    max-width: 30%;
    max-height: 600px;
    min-height: 500px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 30px;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.3);
    overflow: hidden;
}

.card-img {
    width: 100%;
}

.card-img img {
    border-radius: 8px 8px 0 0;
    width: 100%;
    margin-bottom: 20px;
}

.card-title {
    margin: 0 15px;
    margin-bottom: 10px;
    letter-spacing: -0.5px;
    text-align: center;
    min-height: 3rem;
}

.card-title h2{
    font-size: 2em;
}

.card-description {
    font-size: calc(1em + 2px);
    line-height: 1.3rem;
    margin: 0 15px;
    text-align: left;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
}