div {
    align-items: center;
}

.title {
    letter-spacing: -0.5px;
    font-size: 2em;
    color: white;
}

.text-content {
    font-size: calc(1em + 4px);
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 1.3em;
    color: white;
}

.subtitle {
    color: white;
    height: 2rem;
    top: 0;
}